body {
    background-image: url("seamless-paper-texture.jpg");
}

DIV.book { 
    margin-left: 20%; 
    margin-right: 20%; 
    text-align: justify; 
    font-family: "Palatino";
    
}
DIV.toc { 
    text-align: center; 
    font-family: serif;
}

DIV.fig {
    display:block;
    margin:0 auto;
    text-align:center;
}

P { 
    text-indent: 2em; 
    margin-top: 0; 
    margin-bottom: 0; 
    line-height: 2em;
}

TABLE.bold { 
    font-weight: bold; 
}

h1 {
    font-family: "Times New Roman";
    text-align: center;
}

h2 {
    font-family: "Times New Roman";
    text-align: center;
}

h3 {
    font-family: "Times New Roman";
    text-align: center;
}

h4 {
    font-family: "Times New Roman";
    text-align: center;
}


hr {
    border: 1px solid tan;
}

a {
    color: saddlebrown;
    text-decoration: none;
}

a:hover {
    color: #582b0c;
}

img {
    width: 50%;
    
}



